body {
    background-image: radial-gradient(#544E61, #67597A, #6E8894, #85BAA1, #CEEDDB);
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: rotateX(360deg);
    transition: 5s;
}
#triviaBox {
    border: 15px #CEEDDB solid;
    text-align: center;
    border-radius: 20px;
    transform: rotate(360deg);
    transition: 5s;
}
#triviaBox:hover {
    transform: rotate(360deg);
}
#triviaAnswers {
    font-family: fantasy;
    font-weight: bold;
    color: #CEEDDB;
}
#triviaImage {
    /* margin-top: 15px; */
    
    background-color:#ddc;
    border:solid 2.5vmin #eee;
    border-bottom-color:rgb(220, 255, 235);
    border-left-color:#CEEDDB;
    border-radius:2px;
    border-right-color:#CEEDDB;
    border-top-color:rgb(220, 255, 235);
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    margin:1vh 5vw;
    height:60vh;
    padding:4vmin;
    position:relative;
    text-align:center;
}
#triviaImage:hover {
    /* transform: rotateY(360deg);
    transition: 2s; */
}
/* .answer {
    margin-left: 530px ;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    font-size: 15px;
} */
#triviaQuestion {
    color: #CDE6F5;
}
label {
    display: block;
}
#triviaSubmit {
    border-radius: 5px;
    display: block;
    /* padding: 5px;
    margin-left: 600px;
    margin-bottom: 10px; */
    font-size: 20px;
    background-color: #443850;
    color: white;
    margin: 10px auto;
    padding: 2px 15px;
}
#triviaSubmit:hover {
    transition: 1.25s;
    background-color: #67597A;
    color: #CEEDDB;
    /* transform: rotate(360deg); */
}
#triviaSubmit {
    background-color: #CEEDDB;
    color: #67597A;
}
p {
    /* position: fixed; */
    /* bottom: 0; */
    /* right: 0; */
    float: right;
    color: #544E61;
}
input {
    cursor:pointer;
}

.wrong {
    background-color: red;
    border-radius: 5px;
}

.correct {
    background-color: green;
    border-radius: 5px;
}