#triviaBox {
    border: 3px black solid;
    text-align: center;
}

.answer {
    margin-left: 530px ;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    font-size: 15px;
}



.submitButton {
    border-radius: 5px;
    display: block;
    padding: 5px;
    margin-left: 600px;
    margin-bottom: 10px;
    font-size: 20px;
}

.submitButton:hover {
    background-color: lime;
    color: maroon;
}



p {
    position: fixed;
    bottom: 0;
    right: 0;
    color:gray;
}